@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

table {
    @apply border border-collapse border-neutral-800 w-full table-cell bg-neutral-950;
}
  
thead th {
    @apply p-2 font-semibold text-sm border-none !important;
}
  
tbody td {
    @apply border border-neutral-900 p-2 !important;
}

tbody tr:nth-child(even) {
    @apply bg-neutral-700 bg-opacity-10 !important;
}

code {
    @apply bg-neutral-200 bg-opacity-10 text-red-300 !important;
}

blockquote {
    @apply border-l-4 bg-neutral-300 bg-opacity-5 opacity-75 !important; 
}

:root {
    --sl-content-width: 50rem;
    --sl-text-5xl: 3.5rem;
    --microtip-transition-duration: 0.1s;
    --microtip-transition-delay: 0.1s;
    --microtip-transition-easing: ease-out;
    --microtip-font-size: 15px;
    --microtip-font-weight: bold;
    --microtip-text-transform: none;
}